@import "/src/assets/styles/common";

.releases {
    min-height: 100%;

    h1 {
        color: white;
        text-align: center;
        margin: 10px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 200px);
        grid-gap: $space-md;
        justify-content: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 $space-md;
        width: 100%;
    }

    &__item {
        background-color: white;
        cursor: pointer;
        height: 200px;
        width: 200px;
    }
}
