.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form {
    display: flex;
    flex-direction: column;
    
    button {
        cursor: pointer;
    }
}

h2 {
    margin-bottom: 10px;
}